* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* share style  */

body {
    font-family: "Inter";
    font-optical-sizing: auto;
}

.container {
    max-width: 1360px;
    width: 100%;
    margin: 0 auto;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

.btn {
    border: none;
    border-radius: 4px;
    color: white;
    font-size: 16px;
    font-weight: 600;
}

.bg-col {
    background-color: #30B868;
}


/* main style  */

/* navbar-section-start  */

.navbar-section {
    height: 92px;
    background-color: white;
    padding: 16px 0 16px;
}

.nav-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img {
    width: 139px;
    height: 60px;
}

.menu ul {
    display: flex;
    gap: 32px;
}

.menu ul li a {
    color: black;
    font-size: 16px;
    font-weight: 600;
}

.nav-btn {
    width: 164px;
    height: 44px;
}

.ml-8 {
    margin-left: 8px;
}

.mr-8 {
    margin-right: 8px;
}

/* navbar-section-end  */


/* Banner Section-start  */

.banner-section {
    background-image: url(assets/hero-bg.png);
    height: 674px;
    text-align: center;
    padding-top: 115.5px;
    padding-bottom: 179.5px;
}

.btn-access-now {
    width: 229px;
    /* height: 35px; */
    font-size: 16px;
    font-weight: 500;
    color: #30B868;
    padding: 9px 0 8px 0;
    border-radius: 100px;
    border: none;
}

.banner-content h1 {
    font-size: 72px;
    font-weight: 700;
    color: #FFFFFF;
    text-transform: capitalize;
    margin: 16px 0;
}

.banner-content .h1-col {
    color: #30B868;
}

.banner-content p {
    color: #FFFFFF;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    margin-bottom: 32px;
}

.two-button {
    display: flex;
    gap: 16px;
    justify-content: center;
}

.banner-btn-2 {
    width: 252px;
    height: 52px;
}

.banner-btn-3 {
    width: 198px;
    height: 52px;
    color: #FFFFFF;
    background-color: transparent;
    border: 1px solid #FFFFFF;
}


/* Banner Section-end  */


/* Notes-Section-start */

.notes-section {
    background-color: #FFFFFF;
    text-align: center;
    padding-top: 60px;
}

.note-content h2 {
    font-size: 48px;
    font-weight: 700;
    text-transform: capitalize;
}

.note-content p {
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    margin-top: 16px;
    margin-bottom: 44px;
}

.boxes {
    display: flex;
    justify-content: space-between;
    /* gap: 16px; */
}

.boxes .box {
    width: 322px;
    height: 300px;
    padding: 24px;
    border-radius: 8px;
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, .06);
}

.box img {
    width: 60px;
    height: 60px;
    object-fit: contain;
    border-radius: 50%;
    background-color: #F95555;
}

.hhh {
    font-size: 30px;
    color: white;
    background-color: #F95555;
    width: 60px;
    height: 60px;
    padding-top: 15px;
    border-radius: 50%;
    margin-top: 45.5px;
}

.box h3{
    font-size:24px ;
    font-weight:600 ;
    color: #001931;
    margin: 16px 0;
}

.box p{
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
}
/* Notes-Section-end */


/* Second-Brain-Section-start */
/* Second-Brain-Section-end */



/* Early-Access-Section-start */
/* Early-Access-Section-end */



/* Footer-Section-start */
/* Footer-Section-end */