* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* share style  */

body {
    font-family: "Inter";
    font-optical-sizing: auto;
}

.container {
    max-width: 1360px;
    width: 100%;
    margin: 0 auto;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

.btn {
    border: none;
    border-radius: 4px;
    color: white;
    font-size: 16px;
    font-weight: 600;
}

.btn:hover {
    background-color: black;
    color: white;
    transition: background-color 0.3s ease;
}

.bg-col {
    background-color: #30B868;
}


/* main style  */

/* navbar-section-start  */

.navbar-section {
    height: 92px;
    background-color: white;
    padding: 16px 0 16px;
}

.nav-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img {
    width: 139px;
    height: 60px;
}

.menu ul {
    display: flex;
    gap: 32px;
}

.menu ul li a {
    color: black;
    font-size: 16px;
    font-weight: 600;
}

.nav-btn {
    width: 164px;
    height: 44px;
}

.ml-8 {
    margin-left: 8px;
}

.mr-8 {
    margin-right: 8px;
}

/* navbar-section-end  */


/* Banner Section-start  */

.banner-section {
    background-image: url(assets/hero-bg.png);
    /* background-repeat: no-repeat; */
    /* background-position: content; */
    height: 674px;
    /* width: 1905px; */
    text-align: center;
    padding-top: 115.5px;
    padding-bottom: 179.5px;
}

.btn-access-now {
    width: 229px;
    /* height: 35px; */
    font-size: 16px;
    font-weight: 500;
    color: #30B868;
    padding: 9px 0 8px 0;
    border-radius: 100px;
    border: none;
}
.btn-access-now:hover {
    background-color: black;
    color: white;
    transition: background-color 0.3s ease;
}

.banner-content h1 {
    font-size: 72px;
    font-weight: 700;
    color: #FFFFFF;
    text-transform: capitalize;
    margin: 16px 0;
}

.banner-content .h1-col {
    color: #30B868;
}

.banner-content p {
    color: #FFFFFF;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    margin-bottom: 32px;
}

.two-button {
    display: flex;
    gap: 16px;
    justify-content: center;
}

.banner-btn-2 {
    width: 252px;
    height: 52px;
}

.banner-btn-3 {
    width: 198px;
    height: 52px;
    color: #FFFFFF;
    background-color: transparent;
    border: 1px solid #FFFFFF;
}


/* Banner Section-end  */


/* Notes-Section-start */

.notes-section {
    background-color: #FFFFFF;
    text-align: center;
    padding-top: 60px;
}

.note-content h2 {
    font-size: 48px;
    font-weight: 700;
    text-transform: capitalize;
}

.note-content p {
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    margin-top: 16px;
    margin-bottom: 44px;
}

.boxes {
    display: flex;
    justify-content: space-between;
}

.boxes .box {
    width: 322px;
    height: 300px;
    padding: 24px;
    border-radius: 8px;
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, .06);
}

.box img {
    width: 60px;
    height: 60px;
    object-fit: contain;
    border-radius: 50%;
    background-color: #F95555;
}

.hhh {
    font-size: 30px;
    color: white;
    background-color: #F95555;
    width: 60px;
    height: 60px;
    padding-top: 15px;
    border-radius: 50%;
    margin-top: 45.5px;
}

.box h3 {
    font-size: 24px;
    font-weight: 600;
    color: #001931;
    margin: 16px 0;
    text-transform: capitalize;
}

.box p {
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
}
/* Notes-Section-end */


/* Second-Brain-Section-start */

.second-brain-section {
    position: relative;
    height: 840px;
    background-color: #FFFFFF;
    padding: 120px 0;
    margin-top: -35px;
}

.second-brain-content {
    display: flex;
    justify-content: space-between;
    gap: 60px;
    align-items: center;
}

.second-brain-img img {
    width: 600px;
    height: 600px;
    border-radius: 12px;
}

.second-content h6 {
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    color: #30B868;
}

.second-content h2 {
    font-size: 48px;
    font-weight: 700;
    line-height: 58px;
    text-transform: capitalize;
    color: #001931;
    margin: 16px 0;
}

.second-content p {
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    margin-bottom: 40px;
    color: #627382;
}

.menu-list li {
    margin-bottom: 16px;
    font-size: 16px;
    color: #000000;
}


/* Second-Brain-Section-end */



/* Early-Access-Section-start */

.early-access-content {
    height: 384px;
    background-color: #F7F6F2;
    padding: 80px 0;
    text-align: center;
    margin-bottom: 120px;
    border-radius: 12px;
}

.early-access-content h2 {
    font-size: 40px;
    font-weight: 700;
    text-transform: capitalize;
}

.early-access-content p {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #627382;
    margin-top: 16px;
    margin-bottom: 24px;
}

.www {
    width: 194px;
    height: 52px;
}

.mmm .ppp {
    font-size: 16px;
    color: #627382;
    line-height: 20px;
}
/* Early-Access-Section-end */



/* Footer-Section-start */


.footer-section {
    background-color: #000000;
    padding-top: 120px;
    padding-bottom: 30px;
}
.ww88 {
    display: flex;
    justify-content: space-between;
    margin-bottom: 80px;
    margin-right: 107px;
}

.img-ww88 img {
    width: 139px;
    height: 50px;
}

.link-ww88 h3 {
    font-size: 20px;
    font-weight: 500;
    line-height: 28px;
    color: #FFFFFF;
    margin-bottom: 16px;
}

.menu-flex {
    display: flex;
    gap: 16px;
}

.menu-flex li {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    color: black;
    background-color: #FFFFFF;
    padding: 3px;
}

hr {
    width: 100%;
    margin-bottom: 30px;
    height: 1px;
    background: rgb(158, 157, 157);
    border: none;
}

.footer-content p {
    color: #FFFFFF;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}
/* Footer-Section-end */